/* Mobile Styles for Main Page */
@media (max-width: 768px) {
    .how-to-get-licensed {
    
        font-size: 210%;

        min-width: 100%;
    }
    
    .transparent-box-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .transparent-box {
        margin-bottom: 30px;
    }
    
    .online-continuing-education{
        width: 100%;
        min-height: 50px;
    }
    
    .click-daily-updates-button {
        width: 100%;
    }


    .gray-box-header {
        font-size: 100%;
    }

    .gray-box-columns {
        display: flex;
        flex-direction: column;
    }

    .gray-box-column-header{
        font-size: 23px;
    }

    .how-much-ce-credit-button {
        width: 100%;
        border-radius: 0;
    }

    .carousel-image{
        max-width: 30%;
        height: 100%;
    }
    
    .carousel-text{
        font-size: 150%;
    }



  }

  @media (max-width: 480px) {
    .carousel-text{
        font-size: 100%;
    }
  }
  