.main-page-img-header {
    width: 100%;
    object-fit: cover;
    height: 60vh;
}

.main-page-button {
    left: 50%;
    transform: translateX(-50%);

    font-size: 18px;
    

    /* position: relative; */
    position: absolute;
    top: 70px;
    
    width: 10%;
    height: 50px; 
    /* top: 100px; */
    
    /* Background color of the button */
    background-color: #0f7cfb;
    
    /* Text color of the button */
    color: #fff;
    
    /* Border of the button */
    border: 1px solid #035fc9;

    transition: background-color 0.3s ease-in-out;
    
}

.main-page-button:hover {
    /* On hover, change background color to match the border color */
    background-color: #00379F !important;
}

.container {
  position: relative;
  overflow: visible;
}