.nav-bar-flex-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-bar-text {
    text-decoration: none !important;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-bar-text:hover {
  color: #0037A5 !important;
}